<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees List</title>
</head>
<body>
    <h1>Employees List:</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.department}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
